extends index
block result
    -var results = items
    -for (var i = 0; i < results.length; i++)
        a(href= `${results[i].itemWebUrl}` target="_blank").list-group-item.list-group-item-action
            .d-flex.w-100.justify-content-between
                p #{results[i].title}
                small= `${results[i].price.value}  ${results[i].price.currency}`
block script
    script.
        $( document ).ready(function() {
            googleMap.setItems(!{JSON.stringify(results)});
            googleMap.productMap();
        });